@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal__window {
    @apply bg-white shadow-upShadow py-2 flex flex-col fixed bottom-0 left-0 z-50 w-full text-center;
  }

  .validate__error {
    @apply text-red-600 text-xs flex gap-2;
  }
}

@import 'leaflet/dist/leaflet.css';

.leaflet-bottom,
.leaflet-left {
  display: none;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms,
    transform 300ms;
}

.swiper-pagination
  .swiper-pagination-clickable
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  position: absolute;
  margin-top: 100px;
}
